* {
  padding: 0;
  margin: 0;
  left: 0;
  box-sizing: border-box;
}
body {
  background-image: url(img/instagram_color.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.sfondo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#js-id {
  color: #000;
  background-color: rgba(255,255,255,.53);
  border-radius: 20px;
  padding: 20px;
}
