* {
  padding: 0;
  margin: 0;
  left: 0;
  box-sizing: border-box;
}
body {

}

.sfondo {
  background-image: url(img/instagram_color.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}
